<div class="row" *ngIf="state.state">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
            </div>
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="col-sm-2 col-form-label">Password Confirm</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm"  #txtPasswordConfirm>
            </div>
        </div>
        <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Şifreyi Güncelle</button>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
    Bu link kullanılmamaktadır
</div>